.App {
  text-align: center;
  height: 100vh
}

footer{
  background-color: gray;
  bottom: 0%;
  width: 100%;
  text-align: center;
}

.set_main{
  background-color: orange;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0%;
  height: 100%;
}

p{
  font-size:larger;
}

.mensagem{
  width: 650px;
}

button{
  font-size: large;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.organizar{
  background-color: white;
  display: flex;
  align-self: center;
  align-items: flex-end;
  bottom: 15px;
  height: 100%;
}


.espacamento{
  margin: 10px;
}